01.EUREKABANC_SOAP_JAVA_GR04/02.CLIESC/BancoSOAPClienteESC/src/META-INF/wsdl/192.168.0.102_8080/BancoSOAPServidorJAVA/BancoWSService.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by XML-WS Runtime (https://github.com/eclipse-ee4j/metro-jax-ws). Runtime's version is Eclipse Metro/4.0.3.payara-p1 (metro-4.0.3.payara-maintenance-004e4e3; 2023-11-08T12:59:53+0000) XMLWS-Impl/4.0.2 XMLWS-API/4.0.1 XMLB-Impl/4.0.4 XMLB-API/4.0.1 git-revision#004e4e3. --><!-- Generated by XML-WS Runtime (https://github.com/eclipse-ee4j/metro-jax-ws). Runtime's version is Eclipse Metro/4.0.3.payara-p1 (metro-4.0.3.payara-maintenance-004e4e3; 2023-11-08T12:59:53+0000) XMLWS-Impl/4.0.2 XMLWS-API/4.0.1 XMLB-Impl/4.0.4 XMLB-API/4.0.1 git-revision#004e4e3. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://ws.monster.edu.ec/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://ws.monster.edu.ec/" name="BancoWSService">
<types>
<xsd:schema>
<xsd:import namespace="http://ws.monster.edu.ec/" schemaLocation="http://192.168.0.102:8080/BancoSOAPServidorJAVA/BancoWSService?xsd=1"/>
</xsd:schema>
</types>
<message name="verSaldo">
<part name="parameters" element="tns:verSaldo"/>
</message>
<message name="verSaldoResponse">
<part name="parameters" element="tns:verSaldoResponse"/>
</message>
<message name="depositar">
<part name="parameters" element="tns:depositar"/>
</message>
<message name="depositarResponse">
<part name="parameters" element="tns:depositarResponse"/>
</message>
<message name="transferir">
<part name="parameters" element="tns:transferir"/>
</message>
<message name="transferirResponse">
<part name="parameters" element="tns:transferirResponse"/>
</message>
<message name="retirar">
<part name="parameters" element="tns:retirar"/>
</message>
<message name="retirarResponse">
<part name="parameters" element="tns:retirarResponse"/>
</message>
<portType name="BancoWS">
<operation name="verSaldo">
<input wsam:Action="http://ws.monster.edu.ec/BancoWS/verSaldoRequest" message="tns:verSaldo"/>
<output wsam:Action="http://ws.monster.edu.ec/BancoWS/verSaldoResponse" message="tns:verSaldoResponse"/>
</operation>
<operation name="depositar">
<input wsam:Action="http://ws.monster.edu.ec/BancoWS/depositarRequest" message="tns:depositar"/>
<output wsam:Action="http://ws.monster.edu.ec/BancoWS/depositarResponse" message="tns:depositarResponse"/>
</operation>
<operation name="transferir">
<input wsam:Action="http://ws.monster.edu.ec/BancoWS/transferirRequest" message="tns:transferir"/>
<output wsam:Action="http://ws.monster.edu.ec/BancoWS/transferirResponse" message="tns:transferirResponse"/>
</operation>
<operation name="retirar">
<input wsam:Action="http://ws.monster.edu.ec/BancoWS/retirarRequest" message="tns:retirar"/>
<output wsam:Action="http://ws.monster.edu.ec/BancoWS/retirarResponse" message="tns:retirarResponse"/>
</operation>
</portType>
<binding name="BancoWSPortBinding" type="tns:BancoWS">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="verSaldo">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="depositar">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="transferir">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="retirar">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="BancoWSService">
<port name="BancoWSPort" binding="tns:BancoWSPortBinding">
<soap:address location="http://192.168.0.102:8080/BancoSOAPServidorJAVA/BancoWSService"/>
</port>
</service>
</definitions>