01.EUREKABANC_SOAP_JAVA_GR04/02.CLICON/BancoClienteSOAPConsolaJAVA/xml-resources/web-service-references/BancoWSService/wsdl/localhost_8080/BancoSOAPServidorJAVA/BancoWSService.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by XML-WS Runtime (https://github.com/eclipse-ee4j/metro-jax-ws). Runtime's version is Eclipse Metro/4.0.3.payara-p1 (metro-4.0.3.payara-maintenance-004e4e3; 2023-11-08T12:59:53+0000) XMLWS-Impl/4.0.2 XMLWS-API/4.0.1 XMLB-Impl/4.0.4 XMLB-API/4.0.1 git-revision#004e4e3. --><!-- Generated by XML-WS Runtime (https://github.com/eclipse-ee4j/metro-jax-ws). Runtime's version is Eclipse Metro/4.0.3.payara-p1 (metro-4.0.3.payara-maintenance-004e4e3; 2023-11-08T12:59:53+0000) XMLWS-Impl/4.0.2 XMLWS-API/4.0.1 XMLB-Impl/4.0.4 XMLB-API/4.0.1 git-revision#004e4e3. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://ws.monster.edu.ec/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://ws.monster.edu.ec/" name="BancoWSService">
<types>
<xsd:schema>
<xsd:import namespace="http://ws.monster.edu.ec/" schemaLocation="http://localhost:8080/BancoSOAPServidorJAVA/BancoWSService?xsd=1"/>
</xsd:schema>
</types>
<message name="getEmpleados">
<part name="parameters" element="tns:getEmpleados"/>
</message>
<message name="getEmpleadosResponse">
<part name="parameters" element="tns:getEmpleadosResponse"/>
</message>
<message name="getMovimientos">
<part name="parameters" element="tns:getMovimientos"/>
</message>
<message name="getMovimientosResponse">
<part name="parameters" element="tns:getMovimientosResponse"/>
</message>
<message name="getCuentas">
<part name="parameters" element="tns:getCuentas"/>
</message>
<message name="getCuentasResponse">
<part name="parameters" element="tns:getCuentasResponse"/>
</message>
<message name="getClientes">
<part name="parameters" element="tns:getClientes"/>
</message>
<message name="getClientesResponse">
<part name="parameters" element="tns:getClientesResponse"/>
</message>
<portType name="BancoWS">
<operation name="getEmpleados">
<input wsam:Action="http://ws.monster.edu.ec/BancoWS/getEmpleadosRequest" message="tns:getEmpleados"/>
<output wsam:Action="http://ws.monster.edu.ec/BancoWS/getEmpleadosResponse" message="tns:getEmpleadosResponse"/>
</operation>
<operation name="getMovimientos">
<input wsam:Action="http://ws.monster.edu.ec/BancoWS/getMovimientosRequest" message="tns:getMovimientos"/>
<output wsam:Action="http://ws.monster.edu.ec/BancoWS/getMovimientosResponse" message="tns:getMovimientosResponse"/>
</operation>
<operation name="getCuentas">
<input wsam:Action="http://ws.monster.edu.ec/BancoWS/getCuentasRequest" message="tns:getCuentas"/>
<output wsam:Action="http://ws.monster.edu.ec/BancoWS/getCuentasResponse" message="tns:getCuentasResponse"/>
</operation>
<operation name="getClientes">
<input wsam:Action="http://ws.monster.edu.ec/BancoWS/getClientesRequest" message="tns:getClientes"/>
<output wsam:Action="http://ws.monster.edu.ec/BancoWS/getClientesResponse" message="tns:getClientesResponse"/>
</operation>
</portType>
<binding name="BancoWSPortBinding" type="tns:BancoWS">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="getEmpleados">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getMovimientos">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getCuentas">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getClientes">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="BancoWSService">
<port name="BancoWSPort" binding="tns:BancoWSPortBinding">
<soap:address location="http://localhost:8080/BancoSOAPServidorJAVA/BancoWSService"/>
</port>
</service>
</definitions>